<!--tables/sorted_tables.html-->
<script language="JavaScript">
    <!--All sorting functions. Add a map to sort_map for every function-->

    <!--Sorts deals in database by day of week-->
    function sort_by_day(database) {
        var days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
        <!--Iterate through the days of the week-->
        for (day in days) {
            var data = [['location', 'deal', 'start time', 'end time']]

            <!--Iterate through bars-->
            for (bar in database) {
                var deals = database[bar];

                <!--Iterate through deals-->
                for (deal in deals) {
                    var info = deals[deal];
                    <!--Get data from the day of week being iterated through-->
                    if (info.days && info.days[days[day]]) {
                        data.push([bar, deal, info.days[days[day]].start_time, info.days[days[day]].end_time])
                    }
                }
            }

            <!--Setup variables-->
            var table = document.createElement('table');
            table.id = days[day];
            table.style.border = '2px solid black';
            var parent = document.getElementById('{{ div }}') || document.body;
            var cell_style = {'border': '2px solid black'}

            document.write(days[day]);
            {% include "tables/base_table.html" %}
        }
    }

    <!--Map function name to function-->
    var sort_map = {'sort_by_day': sort_by_day};

    <!--Get sort function-->
    var sort_func = sort_map['{{ function }}'];
    <!--Make sorted tables-->
    sort_func({{ database | safe }});
</script>
<!--tables/sorted_tables.html-->