<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>site</title>
</head>
<body style="height: 200%; width: 100%">
    <div style="z-index: 1; position: absolute; left: 0; right: 0; top: 0; height: 50%; background: linear-gradient(red, yellow)"></div>
    <div style="z-index: 1; position: absolute; left: 0; right: 0; bottom: 0; height: 50%; background: linear-gradient(yellow, red)"></div>
    <div id="text" style="z-index: 2; position: absolute; height: 100%;">
        <h1>MONDAY</h1>
        {{ monday | safe }}
        {{ bool_link | safe }}
    </div>
</body>
</html>