<script language="JavaScript">
    <!--All sorting functions. Add a map to sort_map in table.html for every function-->
    function sort_by_day(data, info) {
        var day = info.day;
        var tmp = [['location', 'deal', 'start time', 'end time']]
        for (bar in data) {
            var deals = data[bar];
            for (deal in deals) {
                var info = deals[deal];
                if (info.days && info.days[day]) {
                    tmp.push([bar, deal, info.days[day].start_time, info.days[day].end_time])
                }
            }
        }
        return tmp;
    }

    <!--Map function name to function-->
    var sort_map = {'sort_by_day': sort_by_day};
</script>