<script language="JavaScript">
    var table = document.createElement('table');
    table.id = '{{ id | safe }}';
    var data = {{ data | safe }};
    var parent = document.getElementById('{{ div | safe }}') || document.body;

    var table_border = '1px solid black';
    var cell_border = '1px solid black';

    table.style.border = table_border;
    for(var i = 0; i < data.length; i++) {
        var row = document.createElement('tr');
        for(var j = 0; j < data[i].length; j++) {
            var cell = document.createElement('th');
            cell.innerHTML = data[i][j];
            cell.style.border = cell_border;
            row.appendChild(cell);
        }
        table.appendChild(row);
    }
    parent.appendChild(table);
</script>