<script language="JavaScript">
    <!--Map function name to function. Look at sort.html-->
    var sort_map = sort_map ? sort_map : {};

    <!--Setup variables-->
    var table = document.createElement('table');
    table.id = '{{ id | safe }}';
    var parent = document.getElementById('{{ div | safe }}') || document.body;
    var data = {{ data | safe }};
    var table_border = '1px solid black';
    var cell_border = '1px solid black';


    <!--If sorting, sort.-->
    var sort_func = sort_map[{{ info | safe }}['function']];
    if (sort_func) {
        data = sort_func(data, {{ info | safe }});
    }

    <!--Main part of table-->
    table.style.border = table_border;
    for(var i = 0; i < data.length; i++) {
        var row = document.createElement('tr');
        for(var j = 0; j < data[i].length; j++) {
            var cell = document.createElement('th');
            cell.innerHTML = data[i][j];
            cell.style.border = cell_border;
            row.appendChild(cell);
        }
        table.appendChild(row);
    }
    parent.appendChild(table);
</script>